.paginationWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-35%);
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.arrowButton {
  background-color: transparent;
  border: none;
  color: rgba(42, 9, 52, 0.5);
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.arrowButton:hover:not(.disabled) {
  background-color: #f2f2f2;
}

.disabled {
  cursor: default;
  opacity: 0.3;
}

.pageButton {
  background-color: transparent;
  border: none;
  color: #2a0934;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageButton:hover {
  background-color: #f2f2f2;
}

.selected {
  background-color: #ffa48c;
  color: #2a0934;
}

.ellipsis {
  color: #2a0934;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
